/* Folha de estilo do App */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
*{
    background-color:lightcyan;
    color:rgb(71, 71, 71);
    font-family: 'Akaya Telivigala',sans-serif;
}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh; /* Viewport Height */
}

button{
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    background-color: cadetblue;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

button:hover{/* Quando o mouse está posicionado em cima */
    background-color: aliceblue;
    color: cadetblue;
    border: 1px solid;

} 


img{
    width: 128px;
    border-radius: 64px;
    margin: 5px;
}

.linha{
    display: flex;
    flex-direction: row;
}

label, select {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}